
<!--
  Details uredit dodat song view url
  Listu uredit
  Login pozivanje
  Home slika
  Lazy loading



  <div class="container p-5">
  <div class="row justify-content-center">
  <div class="col-md-4 mt-5">
<form class="text-center border border-dark p-5"><!--VALUE INPUT TYPE PROVJERTI
  <p class="h4 mb-4">Sign in</p>

 Email
  <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">

  Password
  <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">

  Sign in button
  <button class="btn-info" class="my-4" type="submit">Sign in</button>
  <a routerLink='/list'>Service list</a>
</form>
</div>
</div>
</div>-->
<div class="container">
 <!-- <div *ngIf="log"><a class="btn btn-info" (click)="logout()">Logout</a></div>-->
 <app-Nav></app-Nav>
<router-outlet>
</router-outlet>
</div>
<!--
KOMPONENTE
ROUTING
LOGIN JWT TOKEN
SONG LIST
CRUD SONG
API AUT
-->
